.home-container {
    height: 200px;
}
.account-col{
    height: 180px;
    background-color: linen;
    color:  rgb(34, 24, 24);

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.view-col{
    height: 180px;
    background-color: rgb(34, 24, 24);
    color: linen;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.next-link {
    width: 50%;
    height: 50%;
    border: 1px solid darkorange;
    border-radius: 15px;
    background-color: rgb(112, 198, 231, 0.5);
    font-size: 28px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.next-link:hover{
    background-color: goldenrod;
    border: 1px double darkorange;
    cursor: pointer;
}